{% extends "main.html" %}

{% block content %}
<div class="container mt-5">
            <p class="display-3 text-center text-capitalize">Create dataSet for {{ uploader_username }}</p>
    <hr>
          	<div class="row">
	  <div class="col-md-6">
          <p class="fs-3 lead">Use webcam to upload your picture</p>
          <hr>
          <div class="card">
  <div class="card-body text-center">
      <div id="status"></div>
    <button id="camera_captured" class="btn btn-outline-danger btn-lg">Capture</button>
      <p><small class="text-muted">it automatically detects your face and captured it, please steady your face for 30 seconds. </small></p>
      <table>
    <tr id="targetImgs"></tr>
    <tr id="targetNames"></tr>
  </table>
  </div>
</div>
	  </div>
	   <div class="col-md-6">
           <p class="fs-3 lead">Upload your file</p>
           <hr>
    <form action="" id="upload-form">
            {% csrf_token %}
            <div id="alert-box"></div>
              <div class="form-group files color">
                <input name="captured" type="file" class="form-control" accept="image/*" id="id_image">
              </div>
        </form>
           <hr>
           <div id="image-box" class=""></div>
           <div id="progress-box" class="progress d-none"></div>
        <br/>
           <div id="cancel-box" class="d-none">
               <button id="cancel-btn" type="button" class="btn btn-danger">Cancel</button>
           </div>
              <hr>
              <div class="form-group text-center">
              <button onclick="" id="manualUpload" class="btn btn-primary">Upload</button>
	        </div>

        	</div>
                <input type="hidden" name="uploader" value="{{uploader_username}}">
            <script>
                username = $('input[name=uploader]').val();

                $("#camera_captured").click(function() {
                        document.getElementById("camera_captured").disabled=true;
                        let url = "http://127.0.0.1:8000/accounts/capture/"+username+"/";
                        fetch(url,  {
                            method : 'get',
                         }).then(response => response.json())
                         .then(data => {
                               alert(data['msg']);
                                document.getElementById("camera_captured").disabled=false;
                         });
                });


                const uploadForm = document.getElementById("upload-form");
                const input = document.getElementById("id_image");
                const alertBox = document.getElementById("alert-box");
                const imageBox = document.getElementById("image-box");
                const progressBox = document.getElementById("progress-box");
                const cancelBox = document.getElementById("cancel-box");
                const cancelBtn = document.getElementById("cancel-btn");
                const csrf = document.getElementsByName("csrfmiddlewaretoken");
                uploadButton = document.getElementById("manualUpload");
                input.addEventListener('change', () => {
                       const img_data = input.files[0];
                       const imgurl = URL.createObjectURL(img_data);
                       imageBox.innerHTML = `<img src="${imgurl}" width="300px">`;
                });

                uploadButton.addEventListener('click', () => {
                    const img_data = input.files[0];
                    username = $('input[name=uploader]').val();
                    if (img_data == undefined) {
                        alert('No File detected');
                        return false;
                    }
                     const fd = new FormData();
                     fd.append('csrfmiddlewaretoken', csrf[0].value);
                     fd.append('captured', img_data);
                     let url = "http://127.0.0.1:8000/upload_file/" + username + "/";
                     $.ajax({
                        type: 'POST',
                        url: url,
                        enctype: 'multipart/form-data',
                        data: fd,
                        beforeSend: function() {
                            alertBox.innerHTML= "";
                            imageBox.innerHTML = "";
                            uploadButton.disabled = true;
                        },
                        xhr: function() {
                        const xhr = new window.XMLHttpRequest();

                    cancelBtn.addEventListener('click', ()=>{
                        xhr.abort()
                        setTimeout(()=>{
                            uploadForm.reset();
                            alertBox.innerHTML = ""
                            cancelBox.classList.add('d-none')
                        }, 2000)
                    });
                    return xhr;

                        },
                        success: function(response) {
                              alert(response['message']);
                              uploadForm.reset();
                              uploadButton.disabled = false;
                        },
                        error: function(error) {
                            alertBox.innerHTML = `<div class="alert alert-danger" role="alert">
                                    Ups... something went wrong
                                </div>`;
                                uploadForm.reset();
                        },
                        cache: false,
                        contentType: false,
                        processData: false,
                      });
                });



            </script>


{% endblock %}