{% extends "main.html" %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <div class="row mb-5">
            <div class="col-6 justify-content-left">
        <div class="card mt-5 mb-5 overflow-auto" style="height:500px">
          <div class="card-header alert alert-danger">
              <b>Rishi Singh</b> Image Lists
          </div>
          <ul class="list-group list-group-flush">
              {% for filename in filenames %}
                       <li class="list-group-item">{{ filename }}</li>
                {% endfor %}
          </ul>
        </div>
                </div>

            <div class="col-6 justify-content-left text-center mt-5" style="">
        <div style="width: 18rem;margin-left:150px; margin-top:40px;">
       <img src="{% static 'img/training.jpeg' %}" class="img-responsive profile-pic card-img-top" alt="training"   width="200">
                <hr>
            <form action="">
            {%  csrf_token %}
             <input type="hidden" name="train_username" value="{{ username }}">
            <button type="button" class="btn btn-success" id="trainingImageBtn" data-bs-toggle="modal" data-bs-target="#trainingImage">
                Train Image Classifier
            </button>
                 </form>
        </div>
            </div>

<!--        </div>-->

<!--            <button class="btn btn-primary">Train my images</button>-->
<!--        </div>-->
    </div>
    </div>

        <div class="modal fade" id="trainingImage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Image Processing ..</h5>
      </div>
      <div class="modal-body text-center" id="processing_text">
            <div id="spinner" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
      </div>
      <div class="modal-footer">
        <button id="processingButton" type="button" class="btn btn-secondary d-none" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
        <script>
        $(document).ready(function() {
        $("#trainingImageBtn").click(function() {
                let username = $('input[name=train_username]').val();
                let url = "http://127.0.0.1:8000/training/"+username+"/";
                let url2 = "http://127.0.0.1:8000/processing_image/total_img"
                formData = new FormData();
                formData.append('csrfmiddlewaretoken',$('input[name=csrfmiddlewaretoken]').val());
                content = document.getElementById('processing_text');
                content.innerHTML = 'Please wait processing image';
                fetch(url,  {
                    method : 'post',
                    body: formData
                 }).then(response => response.json())
                 .then(data => {
                    content.innerHTML = " ";
                    content.innerHTML  = data['msg']
                    document.getElementById('processingButton').classList.remove('d-none');
                 });

                content = document.getElementById('processing_text');

<!--                fetch(url2, {-->
<!--                    method: 'get'-->
<!--                 }).then(response => response.json())-->
<!--                 .then(data => {-->
<!--                    -->
<!--                 });-->
        });
});
        </script>

{% endblock %}